# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\apply\Desktop\JYH\Functional-Programming-in-Scala\Functional Programming Principles in Scala\objsets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
